@import 'assets/sass/mixin';
@import 'assets/sass/variables';
@import 'assets/sass/fonts';
@import 'assets/sass/global';
@import 'assets/sass/header';
@import 'assets/sass/new_header';
@import 'assets/sass/slider_pro';
@import 'assets/sass/max_products';
@import 'assets/sass/main';
@import 'assets/sass/carouselProducto';
@import 'assets/sass/cart';
@import 'assets/sass/favorite';
@import 'assets/sass/perfil';
@import 'assets/sass/page';

// Versión movil



@import 'assets/sass/footer';

@media (max-width: 1140px){

    .container {
        max-width: 1140px;
    }

    .hidden-res{
        display: none;
    }
}

@media (max-width: 960px){

 

}

@media (max-width: 576px){
    @import 'assets/sass/header_m';
    @import 'assets/sass/slider_product_mobil';
    @import 'assets/sass/list_product_mobil';
    @import 'assets/sass/m_cart';
    @import 'assets/sass/footer_m';


    .header-m-fixed{
        position: fixed;
        width: 100%;
        z-index: 99999;
    }

    .hide-m{
        display: none;
    }

    .max-men-sup{
        position: fixed;
        left: 0;
        top: 0px;
        width: 100%;
        max-width: 300px;
        height: calc(100% + 60px);
        background-color: #fff;
        z-index: 9999999;
        overflow-y: auto;
        will-change: transform;
        @include transition();
        transform: translateX(-100%);

        .list-category{
            ul.nav-category{
                display: block;
                width: 100%;
                max-width: 300px;
                border-radius: 0;
                border: 0;
                z-index: 99999999;
                box-shadow:none;

                &:before{
                    top:-1%;
                }

                li{
                    margin: 0px;
                    border-bottom: 1px solid rgb(239, 239, 239);
                    padding: 12px 2px;
                    

                    a.nav-link-li{
                        padding: 12px 22px;
                    }
                    
                    .fa{
                        color:#909090;
                        float: right;
                    }

                    ul.nav-submenu{
                        position: relative;
                        margin: 0;
                        display:none;
                        z-index: 9999999999;
                        left: 0px;
                        padding: 1px 0px;
                        margin-top: 8px;
                        border: 0;
                        background-color: rgb(248, 248, 248);

                        li{
                            margin: 12px;

                            &.nav-header-li{
                                font-size: 0.9rem;
                                color:#515151;
                                border-bottom: 0;
                            }
                        }
                    }
                }


                

            }
        }
    }

    .max-login .closed-login{
        position: absolute;
        right: -5px;
        top: -18px;
        padding: 1rem;
        z-index: 7;
        font-size: 1.5rem;
        background-color: red;
        border: 0;
        border-radius: 5px;
        outline: 0;
    }

    .social-shared{
        margin-top: 20px;
        &::before{
            position: absolute;
            content: 'Compartir:';
            top: -30%;
            left: 0px;
        }

        .btn-social{
            padding: 5px 21px;
        }

        .favorite{
            display: block;
            text-align: center;
            margin-top: 20px;
            padding: 10px;
        }
    }

    .price-detail{
        .box-price{
            font-size: 0.8rem;
        }
    }

    .closed-modal-product{
        display: block;
    }

    .max-cuenta .c-body h5{
        padding-left: 0px;
    }

   

}