/* jcarousel.connected-carousels.css */
.connected-carousels .stage {
    width: 100%;
    margin: 2px auto;
    position: relative;
    display: inline-block;
}

.connected-carousels .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.connected-carousels .photo-credits a {
    color: #fff;
}

.connected-carousels .navigation {
    width: 100%;
    margin: 5px auto;
    position: relative;
    padding: 0px 40px;
}

.connected-carousels .carousel {
    overflow: hidden;
    position: relative;
}

.connected-carousels .carousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.connected-carousels .carousel li {
    float: left;
}

.connected-carousels .carousel-stage {
    height: 100%;
    padding: 5px 10px;
    border: 1px solid #D5D5D5;
}

.connected-carousels .carousel-navigation {
    width: 100%;
}

.connected-carousels .carousel-navigation li {
    cursor: pointer;
}

.connected-carousels .carousel-navigation li img {
    display: block;
    border: 5px solid #fff;
}

.connected-carousels .carousel-navigation li.active img {
    border-bottom: 2px solid #ccc;
}

.connected-carousels .prev-stage,
.connected-carousels .next-stage {
    display: block;
    position: absolute;
    top: 0;
    width: 305px;
    height: 410px;
    color: #fff;
}

.connected-carousels .prev-stage {
    left: 0;
}

.connected-carousels .next-stage {
    right: 0;
}

.connected-carousels .prev-stage.inactive,
.connected-carousels .next-stage.inactive {
    display: none;
}

.connected-carousels .prev-stage span,
.connected-carousels .next-stage span {
    display: none;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

.connected-carousels .prev-stage span {
    left: 20px;
}

.connected-carousels .next-stage span {
    right: 20px;
}

.connected-carousels .prev-stage:hover span,
.connected-carousels .next-stage:hover span {
    display: block;
}

.connected-carousels .prev-navigation,
.connected-carousels .next-navigation {
    text-align: center;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background:#232f3e;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 16px/29px Arial, sans-serif;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
    z-index: 100;
}

.connected-carousels .prev-navigation {
    left: 0px;
    top: 25px;
    
}

.connected-carousels .next-navigation {
    right: 0px;
    top: 25px;
}

.connected-carousels .prev-navigation.inactive,
.connected-carousels .next-navigation.inactive {
    opacity: .5;
    cursor: default;
}

#modalProductos .modal-content{
    margin-top: 30px;
}


.border-img {
    border: 5px solid #FA0 !important;
}

#multizoom-img{
    visibility: visible;left: 0px;top: 0px;width: 100%;height: 400px;
}


.header-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.social-shared{
    border: 0px solid red;
    padding:6px 0px;
    position: relative;
    text-align: left;

    &::before{
        position: absolute;
        content: 'Compartir:';
        top: -55%;
        left: 0px;
    }

    .btn-social{
        padding: 5px 10px;
        color:#fff;
        font-size: 12px;
        text-decoration: none;
    }

    .facebook{
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    .twitter{
        background-color: #5bc0de;
        border-color: #46b8da;
    }

    .googleplus{
        background-color: #d9534f;
        border-color: #d43f3a;
    }

    .favorite{
        background-color: #ddd;
        text-align: right;
    }

}


.product-header{

    .price-color{
        color:555;
        font-size: 0.8rem;
        margin: 5px 0px;
    }

    #producto-categoria{
        padding: 5px;
        background-color:#eee;
        color: #333;
        border-radius: 4px;
    }
}

// Detalles del producto
#producto-nombre{
    padding-top: 5px;
    font-size: 1.2rem;
}


.info-product-one{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    background-color: #f8f8fd;

    p{
        margin: 0;
    }
}

#producto-precio{
    font-size: 1.4rem;
    color: #109469;
    margin: 0;
    margin-bottom: 5px;
}

.select-type{

    .custom-select{
        height: calc(1.8rem + 2px);   
        margin-bottom: 5px;
    }
}

/*081099958626
3


4303900250370695*/
#producto-sucursal{
    background-color: #eee;
    font-weight: 500;
    font-size: 0.7rem;
    padding: 5px 15px;
}



.price-detail{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: #F8F8FD;
    padding-top:10px;

    .box-price{
        line-height: 1;
        padding:5px 10px;
        font-size: 14px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        p{
            margin: 0;
            padding-right: 25px;
            color:#555;
        }

        span{
            width: 80px;
            text-align: right;
            color:#333;
            font-family: 'GTMedium';
        }

        &:nth-of-type(3){
            background-color: #fff;
            padding: 10px 10px;
            margin-top: 5px;
            border: 1px solid #D5D5D5;
        }

        &:nth-of-type(4){
            background-color: #fff;
            font-size: 0.8rem;
            display: inline-block;
            text-align: right;
        }

    }
}

.info-pay{
    padding: 20px 0px;
}

.box-info-border{
    margin-top: 25px;
    position: relative;
    padding:15px 15px;
    border-radius: 4px;

    p{
        margin: 0;
        font-size: 0.8rem;
    }

    &:before{
        position: absolute;
        content: "...";
        padding: 2px 10px;
        background-color: #eee;
        border-radius: 4px;
        color:#333;
        top:-21%;
        left: 0px;
    }
}

.dimensions{
    &::before{
        content: "Dimensiones:";
    }
}

.aduans{
    &::before{
        content: "Aduana de Cuba:";
    }
}

.categorysends{
    &::before{
        content: "Categorías de envíos disponibles:";
    }
}

.card-header{
    padding: 0rem !important;
}


#prductos_aleatorios{
    padding-top: 30px;

    .title-aleatorio{
        font-size: 1rem;
        text-transform: capitalize;
        padding-bottom: 10px;
        text-align: center;
    }

}


.list-product-aleatorios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f8f8f8;
    padding:15px 10px;

    .product-al{
        width: 50%;
        max-width: 220px;
        height: 300;
        background-color: #fff;
        margin-right: 5px;
        margin-bottom: 10px;
        border-radius: 4px;
        @include transition();

        &:hover{
            box-shadow: 0 0 0 4px #FA0;
        }

        a{
            text-decoration: none;
        }

        .al-img{
            width: 100%;
            height: 170px;
        }

        .detail-pro-al{
            padding: 5px;
            text-align: center;

            .price-al{
                color: #46829e;
                font-size: 1rem;
            }

            .des-al{
                font-size: 0.9rem;
            }
        }
        
    }

}

#producto-detalles, #producto-observaciones{
    font-size: 0.8rem;
}