.info-cart{
    width: 65%;
    padding:15px 10px;
    text-align: center;
    margin: auto;
    border: 2px dashed #c2c2c2;
    margin-top: 30px;
    margin-bottom: 10px;

    p{
        font-size: 1rem;
    }
}

.content-cart{
    padding: 40px 0px;

    .nav-item{
        padding: 10px 55px;
        font-size: 0.9rem;
        margin-right: 4px;
        border-color: #e9ecef #e9ecef #dee2e6;
        border-bottom: 2px solid transparent;

        &.active{
            background-color: #fff;
            color:#515151;
            border-color:#fff #fff #fff;
            border-bottom: 3px solid rgb(8, 135, 198);
        }
    }

}

.title-cart-step{
    display: table-cell;
    background-color: #fff;
    padding: 7px;
    font-size: 0.9rem;
}


.list-item-product{
    padding-top: 30px;
}

.product-cart{
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px; 

    .product-image{
        text-decoration: none;

        img{
            widows: 200px;
            height: 200px;
        }
    }

    .product-info{
        padding:0px 15px;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;

        .delete-product-cart{
            position: absolute;
            right: 0;
            top: -5px;
            font-size: 1.2rem;
            color: #c2c2c2;
            border-radius: 50%;
            @include transition();

            &:hover{
                color: #989898;
            }
        }

        .product-name{
            font-size: 1.1rem;
            line-height: 1.4rem;
            padding-bottom: 10px;
            font-family: "GTLight";
            
        }

        .product-detail{
            display: flex;
            flex-direction: column;

            .item-detail{
                margin-bottom: 0px;
                padding: 3px 0px;
                font-size: 0.8rem;

                strong{
                    font-weight: bold;
                    font-family: 'GTMedium';
                }

                &:last-of-type{
                    font-size: 0.9rem;
                    font-weight: bold;
                    font-family: 'GTMedium';
                    margin-top: 8px;
                    color:#333;
                    display: block;
                }
            }
        }
    }

}


.detail-cart-price{
    background-color: #f7f7f7;
    width: 320px;
    margin-left: 40px;
    padding: 15px;

    .title-resume{
        font-family: 'GTMedium';
    }

    .content-resume{
        padding-top: 10px;

        .item-resume{
            margin-bottom: 15px;
            font-size: 0.8rem;

            .text-right{
                float: right;
            }
        }
        .price-resume{
            font-family: 'GTMedium';
            font-size: 1rem;
        }
    }
}


.sig-cart-step, .cart-step-1{
    width: 70%;
    position: relative;
    margin-left: 40px;
    margin-top: 5px;
    overflow: hidden;
    font-size: 18px;
    color: #fff;
    text-align: center;
    cursor: pointer;

    .error{
        font-size: 0.9rem;
        display: block;
    }
}

.title-car-envia{
    margin-top: 30px;
    padding:10px 0px;
    font-size: 1.1rem;
    border-bottom: 1px solid #eaeaea;
}

.info-terminos{
    overflow-y: scroll;
    height: 139vh;

    p{
        font-size: 0.8rem;
    }
}


.detail-quien{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.info{
    display: flex;
    flex-direction: column;

    .title-quien{
        font-family: 'GTMedium';
        padding-bottom: 10px;
    }
    span{
        margin-bottom: 5px;

    }
    .nota{
        padding-top: 20px;
    }
}

.info-step-4{
    background-color: #fbfbfb;
    padding: 20px;
}

.p-10{
    padding: 10px;
}

.content-pago{
    width: 80%;
    margin:0px auto;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 0.9rem;
    color: #6c6b6b;
    border-bottom: 1px solid #ddd;

    div{
        margin-bottom: 2px;
        width: 100%;
    }

    .item-p{
        float: right;
    }
}

.totalPay{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.4rem;
    color:#333;
    margin-bottom: 20px;

    span{
        margin-right: 20px;
    }
}

.table_list_qe{
    width: 100%;
    background-color: #efefef;
    padding: 10px;
    margin-bottom: 20px;

    .item_table{
        padding: 10px;
        background-color: #fff;
        display: flex;
        align-items: center;
        margin-bottom: 4px;

        .footer-info-qe{
            margin: 0;
            font-size: 0.8rem;
        }

        span:first-of-type{
            margin-right:0px;

            & input[type=radio]{
               border: 0px;
                width: 40px;
                height: 40px;
            }
        }

        p{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 0;
            line-height: 10px;
            font-size: 0.9rem;

            span{
                line-height: 20px;
                &:last-of-type{
                   color:#989898; 
                }
            }

        
        }
    }
    
}

.info-cart-n-title{
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}
.info-cart-n-des{
    font-size: 1rem;
    color: #7b7b7b;
    margin: 0;
    text-align: center;
}

.home-cart{
    width: 150px;
}

#creditcard_number
{
  background-image: url(http://jquerycreditcardvalidator.com/images/images.png), url(http://jquerycreditcardvalidator.com/images/images.png);
  background-position: 2px -121px, 100% -61px;
  background-repeat: no-repeat;
  background-size: 120px 361px, 120px 361px;
  padding-left: 54px;
}
#creditcard_number.error
{
  background-position: 2px -121px, 100% -61px;
}
#creditcard_number.visa
{
  background-position: 2px -163px, 100% -61px;
}
#creditcard_number.visa_electron
{
  background-position: 2px -205px, 100% -61px;
}
#creditcard_number.mastercard
{
  background-position: 2px -247px, 100% -61px;
}
#creditcard_number.maestro
{
  background-position: 2px -289px, 100% -61px;
}
#creditcard_number.discover
{
  background-position: 2px -331px, 100% -61px;
}
#creditcard_number.valid.visa
{
  background-position: 2px -163px, 100% -87px;
}
#creditcard_number.valid.visa_electron
{
  background-position: 2px -205px, 100% -87px;
}
#creditcard_number.valid.mastercard
{
  background-position: 2px -247px, 100% -87px;
}
#creditcard_number.valid.maestro
{
  background-position: 2px -289px, 100% -87px;
}
#creditcard_number.valid.discover
{
  background-position: 2px -331px, 100% -87px;
}


.pay-finsh{

    .success-ok{
        font-size: 3.5rem;
        color: #00ad40;
    }

    h3{
        font-family:"GTMedium";
    }

    p{
        font-size: 1rem;
    }

}