.favorites_list{
    .product-cart{

        .product-image{

            img{
                widows: 150px;
                height: 150px;
            }
        }

        .product-info{

            .product-detail{
                display: block;
                
                .item-detail{
                    margin-bottom: 10px;
                }

                a{
                    margin-right: 5px;
                    padding: 5px;
                    border-radius: 4px;

                    &:nth-child(3){
                        color:red;
                    }

                }
            }

            .product-name{
                font-size: 0.9rem;
                line-height: 18px;
            }
        }
    
    }
}

