@font-face{
    font-family:"GTRegular";
    src:url(../fonts/GTEstiPro/GT-Eesti-Pro-Display-Regular.eot);
    src:url(../fonts/GTEstiPro/GT-Eesti-Pro-Display-Regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/GTEstiPro/GT-Eesti-Pro-Display-Regular.woff) format("woff"),
    url(../fonts/GTEstiPro/GT-Eesti-Pro-Display-Regular.ttf) format("truetype");
    font-weight:400;
    font-style:normal
  }

@font-face{
    font-family:"GTItalic";
    src:url(../fonts/GTEstiPro/GT-Eesti-Pro-Display-Regular-Italic.eot);
    src:url(../fonts/GTEstiPro/GT-Eesti-Pro-Display-Regular-Italic.eot?#iefix) format("embedded-opentype"),
    url(../fonts/GTEstiPro/GT-Eesti-Pro-Display-Regular-Italic.woff) format("woff"),
    url(../fonts/GTEstiPro/GT-Eesti-Pro-Display-Regular-Italic.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}

@font-face{font-family:"GTLight";
    src:url(../fonts/GTEstiPro/GT-Eesti-Pro-Display-Light.eot);
    src:url(../fonts/GTEstiPro/GT-Eesti-Pro-Display-Light.eot?#iefix) format("embedded-opentype"),
    url(../fonts/GTEstiPro/GT-Eesti-Pro-Display-Light.woff) format("woff"),
    url(../fonts/GTEstiPro/GT-Eesti-Pro-Display-Light.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}

@font-face{
    font-family:"GTMedium";
    src:url(../fonts/GTEstiPro/GT-Eesti-Pro-Display-Medium.eot);
    src:url(../fonts/GTEstiPro/GT-Eesti-Pro-Display-Medium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/GTEstiPro/GT-Eesti-Pro-Display-Medium.woff) format("woff"),
    url(../fonts/GTEstiPro/GT-Eesti-Pro-Display-Medium.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}


@font-face {
    font-family: "AvenirNextCondensedBold";
    src: url(../fonts/Avenir/AvenirNextCondensed-Bold.ttf)  format("truetype");
}

@font-face {
    font-family: "AvenirNextCondensedBoldItalic";
    src: url(../fonts/Avenir/AvenirNextCondensed-BoldItalic.ttf)  format("truetype");
}

@font-face {
    font-family: "AvenirNextCondensedDemiBold";
    src: url(../fonts/Avenir/AvenirNextCondensed-DemiBold.ttf)  format("truetype");
}

@font-face {
    font-family: "AvenirNextCondensedDemiBoldItalic";
    src: url(../fonts/Avenir/AvenirNextCondensed-DemiBoldItalic.ttf)  format("truetype");
}

@font-face {
    font-family: "AvenirNextCondensedHeavy";
    src: url(../fonts/Avenir/AvenirNextCondensed-Heavy.ttf)  format("truetype");
}

@font-face {
    font-family: "AvenirNextCondensedHeavyItalic";
    src: url(../fonts/Avenir/AvenirNextCondensed-HeavyItalic.ttf)  format("truetype");
}

@font-face {
    font-family: "AvenirNextCondensedItalic";
    src: url(../fonts/Avenir/AvenirNextCondensed-Italic.ttf)  format("truetype");
}

@font-face {
    font-family: "AvenirNextCondensedMedium";
    src: url(../fonts/Avenir/AvenirNextCondensed-Medium.ttf)  format("truetype");
}

@font-face {
    font-family: "AvenirNextCondensedMediumItalic";
    src: url(../fonts/Avenir/AvenirNextCondensed-MediumItalic.ttf)  format("truetype");
}

@font-face {
    font-family: "AvenirNextCondensedRegular";
    src: url(../fonts/Avenir/AvenirNextCondensed-Regular.ttf)  format("truetype");
}

@font-face {
    font-family: "AvenirNextCondensedUltraLight";
    src: url(../fonts/Avenir/AvenirNextCondensed-UltraLight.ttf)  format("truetype");
}

@font-face {
    font-family: "AvenirNextCondensedUltraLightItalic";
    src: url(../fonts/Avenir/AvenirNextCondensed-UltraLightItalic.ttf)  format("truetype");
}





