a.scrollTop{
	position: fixed;
	bottom: 8%;
	right: 3%;
	background-color: $colorPrimario;
	color:#fff;
	padding:rem(2) rem(10);
	margin:0;
	font-size: rem(20);
	display: flex;
    align-items: center;
    justify-content: center;
    @include borderRadius(5px);
    text-decoration: none;
	display: none;
	z-index: 10;
	cursor: pointer;
	.fa{
		color:#fff;
	}
}

.boletin_email{
	background-color: #44505f;
    padding: 50px 0;

	.boletin_email_content{
		color: #fff;
	}

	.sub-title{
		color:#d8d8d8;
	}
}

.footer{

	background: #3a4553;
	bottom: 0px;

	.footer_menu{
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		width: 100%;
		padding: 12px 0px;
		align-items: center;

		.legal{
			
			a{
				margin-right: 20px;
				font-size: 0.8rem;
				color: #fff;
				text-decoration: none;
				padding-bottom: 2px;
				border-bottom: 1px solid #656565;
				@include transition();

				&:hover{
					border-bottom: 1px solid #fff;
				}
			}
			p{
				padding-top: 5px;
				margin: 0;
				color: #adadad;
			}
		}

	}



	.footer-title{
		background-color: #ececec;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 12px;
		text-transform: uppercase;

		p{
			color:#0c0c0c;
			font-size: 1.1rem;
			letter-spacing: 2px;
			margin: 0;
		}
	}

	.footer-info{
		margin-bottom: 0;
		padding-bottom: 0;
		background-color:#f4f4f5;
		min-width: 100%;
		position: relative;
		padding: 30px;

		.footer-info-legal{
			margin: 0 auto;
			max-width: 700px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;

			a{
				color:#0c0c0c;
				font-size: 0.9rem;
			}
		}

		.social-link{
			padding-top: 10px;
			text-align: center;

			a{
				margin-right: 30px;
				font-size: 0.8rem;
				padding: 5px 35px;
			}
		}

	}

	.footer-copy{
		margin-top: 20px;
		color:rgb(207, 207, 207);
		text-align: center;
		font-size: 0.7rem;
	}

}