/* =======================================================================
## ++ Globals
========================================================================== */
html{
    font-size: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    background: $fondoBody;
}

*{
    box-sizing:border-box;
}

.wrap{
	width:100%;
	max-width:1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.img-responsive{
    width:100%;
    max-width:100%;
    height: 100%;
}

.flex-center{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.oculto{
    display: none !important;
}

.card-body{
    overflow: hidden;
}

[contentEditable=true]:empty:before {
    content: attr(data-placeholder);
    color: #555; 
}

[contentEditable=true]:empty:focus:before {
    content: "";
}



@-webkit-keyframes pulse-shadow--social{
    0%
        {
        -webkit-box-shadow:0 0;
        box-shadow:0 0
        }

    30%
        {
        -webkit-box-shadow:0 0;
        box-shadow:0 0
        }

    80%
        {
        -webkit-box-shadow:0 0 5px 5px hsla(77, 90%, 49%, 1);;
        box-shadow:0 0 5px 5px hsla(77, 90%, 49%, 1);
        }

    100%{
        -webkit-box-shadow:0 0 0 0 rgba(255,255,255,0);
        box-shadow:0 0 0 0 rgba(255,255,255,0)
        }
}

@keyframes pulse-shadow--social{
    0%{
        -webkit-box-shadow:0 0;
        box-shadow:0 0
        }

    30%{
        -webkit-box-shadow:0 0;
        box-shadow:0 0
        }

    80%{
        -webkit-box-shadow:0 0 5px 5px hsla(77, 90%, 49%, 1);;
        box-shadow:0 0 5px 5px hsla(77, 90%, 49%, 1);
        }

    100%{
        -webkit-box-shadow:0 0 0 0 rgba(255,255,255,0);
        box-shadow:0 0 0 0 rgba(255,255,255,0)
        }
}


@-webkit-keyframes pulse-shadow--suscribir{
    0%
        {
        -webkit-box-shadow:0 0;
        box-shadow:0 0
        }

    30%
        {
        -webkit-box-shadow:0 0;
        box-shadow:0 0
        }

    80%
        {
        -webkit-box-shadow:0 0 5px 10px rgba(255,255,255,0);
        box-shadow:0 0 5px 10px rgba(255,255,255,0);
        }

    100%{
        -webkit-box-shadow:0 0 0 0 rgba(255,255,255,0);
        box-shadow:0 0 0 0 rgba(255,255,255,0)
        }
}

@keyframes pulse-shadow--suscribir{
    0%{
        -webkit-box-shadow:0 0;
        box-shadow:0 0
        }

    30%{
        -webkit-box-shadow:0 0;
        box-shadow:0 0
        }

    80%{
        -webkit-box-shadow:0 0 5px 10px rgba(255,255,255,0);
        box-shadow:0 0 5px 10px rgba(255,255,255,0);
        }

    100%{
        -webkit-box-shadow:0 0 0 0 rgba(255,255,255,0);
        box-shadow:0 0 0 0 rgba(255,255,255,0)
        }
}



.border-max{
    border-radius: 50%;
    border: 1px solid $colorPrimario;
    width: 35px;
    height: 35px;
    display: flex;
    font-size: 1rem;
    color: $colorPrimario;
    text-align: center;
    line-height: 0px;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    background-color: #232f3e;
    z-index: 10;

    &:hover{
        border: 2px solid $colorPrimario;
    }
}

.notification{
    position: absolute;
    top:-3px;
    right: -11px;
    padding: 2px 8px;
    background-color: red;
    color:#fff;
}

.flex-aling-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-aling-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-aling-end{
    display: flex !important;
    justify-content: flex-end !important;
}

.fixed-menu-sup{
    position: fixed;
    z-index: 5000;
    top: 0;
}

.bton-search{
    height: 45px;
    margin-bottom: 0px !important;
    border-radius: 0;
    background-color: #fff;
    color: #515151;
    border: 1px solid #ced4da;
    border-left: 0px;
   
    &:hover{
        color: #fff;
        background-color: #17a2b8;
    }
    &:focus{
        box-shadow: none;
        border: 1px solid #ced4da;
    }
}


.overlay{
    display: none;
    top: 0%;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.overlay-product{
    display: none;
    top: 0%;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.btn-bg-inner, .btn-bg-inner-azul, .btn-bg-inner-rojo{
    width: 100%;
    background: $colorPrimario;
    color:#333;
    font-size:1rem;
    text-decoration: none;
    padding: 10px;

    &:hover{
        color:#333;
        box-shadow: 0 0 0 2px rgb(137, 136, 136);
    }
}

.btn-bg-inner-azul{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-bg-inner-rojo{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.error_form{
    border-color: #fb0000 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 1, 1, 0.25) !important;
}

.btn-danger-border{
    border-color: #dc3545;
    background-color: transparent;
    border: 1px solid #dc3545;

    &:hover{
        background-color: #dc3545;
        color:#fff !important;
    }
}

.btn-primary-border{
    border-color: #007bff;
    background-color: transparent;
    border: 1px solid #007bff;

    &:hover{
        background-color: #007bff;
        color:#fff !important;
    }
}

.btn-dark-border{
    border-color: #343a40;
    background-color: transparent;
    border: 1px solid #343a40;
    color:#333 !important;

    &:hover{
        background-color: #343a40;
        color:#fff !important;
    }
}




.btn-social-login{
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 5px;
}

.text-right{
    text-align: right !important;
}

.mg-10{
    margin-top: 10px;
}

.pt-20{
    padding-top: 20px !important;
}
.pb-20{
    padding-bottom: 20px !important;
}


.pt-50{
    padding-top: 50px !important;
}

.display-block{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #737373;
}


.body-background-modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: transparent;
    transition: opacity .15s linear;
    opacity: .5;
    display: none;
}

.border-info-header{
    border-radius: 50%;
    padding: 30px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.title-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    .title-oferta{
        font-size: 1rem;
        text-align: center;
        color: #333;
        margin:10px 0;
        text-transform: capitalize;
        padding: 5px;
        border-radius: 5px;
    }

    .link-mas{
        padding-left: 10px;
        font-size: 1rem;
    }
}


.closed-modal-product{
    display: none;
    position: absolute;
    right: -3px;
    top: -12px;
    padding: rem(5px) rem(15px);
    z-index: 300;
    color:#fff;
    font-size: 1.5rem;
    background-color: red;
    border: 0px;
    border-radius: 5px;
    outline: 0;
    text-align: center;
}


.option-menu{
    position: fixed;
    bottom: 5%;
    width: 55%;
    right: 0;
    left: 0;
    height: 49px;
    background-color: #ffaa00e8;
    margin: auto;
    font-size: 1rem; 
    @include borderRadius(10px);
    text-decoration: none;
    display: none;
    justify-content: space-around;
    align-items: center;
	z-index: 10;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    color: #fff;
    

    a{
        height: auto;
        padding:0px 5px .71429rem 5px;

        .fa{
            margin: 0;
        }
        span{
            display: block;
            font-size: .9rem;
            margin: 0;
            line-height: 1px;
        }

    }

    &:before{
        position: absolute;
        content: "";
        left: -50%;
        top: 25%;
        right: -50%;
        margin: auto;
        background-color: hsla(0,0%,100%,.4);
        height: 50%;
        width: 1px;
    }

}

.flex-m{
    display: flex;
}

.fadeCategory{
    transform: translateX(0%) !important;
}

.fadeOutCategory{
    transform: translateX(-100%) !important;
}


/** extra */
#producto-cargar-mas a{
    font-size: 1.2rem;
    color:#000;
}
#producto-cargar-mas a .fa{
    font-size: 1rem;
}   


.max-men-sup-fixed{
    position: fixed;
    top: 0;
    z-index: 999999999;
}

.p-absolute{
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.bar_menu_show{
    visibility: visible;
    opacity: 1;
}

.pl-16{
    padding-left: 18px;
}

.pl-200{
    padding-left: 200px;  
}

.prl{
    padding-right: 0px !important;
    padding-left: 10px !important;
}

.flex{
    display: flex;
}

.title-home {
    display: inline-block;
    width: 100%;
    margin-top: 0;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;

    h3{
        border-bottom: 2px solid #eee;

        a{
            float: right;
            font-size: 0.8rem;
            margin: 0;
            vertical-align: middle;
            margin-top: 12px;
        }
    }
    

    span{
        background: $colorPrimario;
        color: #fff;
        display: inline-block;
        vertical-align: top;
        border-radius: 5px 5px 0px 0px;
        padding: 8px 15px;
        margin-top: 0;
        position: relative;
        font-size: 16px;
        margin-bottom: 0;
    }

    .span-l{
        background: #fff;
        color: #4a4848;
        vertical-align: top;
        border-radius: 5px 5px 0 0;
        padding: 8px 15px;
        font-size: 16px;
        position: absolute;
        left: 0;
        right: 0;
        display: table-cell;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        top: -20px;
    }

    .span-l-none{
        background: #fff;
        color: #4a4848;
        padding: 8px 0px;
        font-weight: 500;
        
        &:after{
            position: absolute;
            content: "";
            width: 130px;
            height: 2px;
            background-color: #fbb420;
            bottom: -2px;
            left: 0;
        }
    }
}