.bg-azul{
    background: #232f3e !important;
}

.color-p{
    color:$colorPrimario;
}

.space-border{
    outline: 0;
    border: 0;
    padding: .25rem .50rem;
}

.header_m{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, .2);

    .navbar-toggler{
        position: relative;
        color: #fff !important;

        .badge{
            position: absolute;
            top: -2px;
            right: -3px;
            padding: 1px 3px;
            background-color: red;
            color: #fff;
            font-size: 0.8rem;
        }
        .sz{
            font-size: 2rem;
        }
    }

    .content_search{
        padding:0px 8px;
        width: 55%;

        .input_search{
            font-size: 0.9rem;
            line-height: 1;
            display: flex;
            align-items: center;

            .input_search_input{
               width: 90%;
                box-sizing: border-box;
                border-radius: 30px 0 0 30px!important;
                padding-left: 15px!important;
                background-color: #fff;
                height: 30px;
                border: 0;
                color: #444 !important;
                outline: 0;
            }

            .input-search__icon{
                padding: 0;
                border: 0;
                outline: 0;
                cursor: pointer;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                border-radius: 0 35px 35px 0;
                background-color: #FFF;
                height: 30px;
                line-height: 33px;
                width: 50px;
                color: #444;
                font-size: 20px;
                margin-top: 0!important;
                width: 36px!important;
                
            }
        }

    }

}

.max-slider-info{

    .slide-info{
        padding-top: 20px;
        padding-bottom: 5px;
        text-align: center;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 55vh;

        .max-title{
            font-size: 1.6rem;
            line-height: 1.6rem;
            color:#fff;
        }

        .max-subtitle{
            font-size: 0.9rem;
            color:rgb(253, 253, 253);
        }

        .max-bton-group{
            margin-top: 5px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            a{
                padding: 5px 20px;
                margin-left: 5px;  
                font-size: .8rem;
                overflow: hidden;
            }
        }

        .footer-slide{
            padding-top: 10px;
            font-size: 0.8rem;
            color: #fff
        }
    }
}

.max-login{
    display: none;
    position: absolute;
    width: 320px;
    max-width: 320px;
    background-color: #fff;
    height: auto;
    box-shadow: 0 0 0 4px #eaeaea;
    z-index: 1041;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top:20px;
    border-radius: 2px;
    margin-top: 20px;
    padding-bottom: 20px;

    .closed-login{
        position: absolute;
        right: -11px;
        top: -15px;
        padding: rem(2px) rem(2px);
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0;
        color: #fff;
        border: 0px;
        background-color: red;
        outline: 0;
        cursor: pointer;
    }

    &:before{
        content: '';
        display: none;
    }

    .footer-ayuda{
        padding-top: 15px;
        a{
            color:#0B5A81;

            &:last-of-type{
                float:right;
            }
        }
    }

    .login-step-2,
    .login-step-3{
        display: none;
    }


}



.max-men-sup{

    .list-info-menu{
        padding: 20px;
    }

    .max-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .logo{
            width: 100%;
            height: 60px;
        }

        a.item-link{
            margin: 10px 0px;
            color:#333;
            font-size: 1.1rem;
            border-bottom: 2px solid #FA0;

            &:first-of-type{
                padding-bottom: 20px;
                border:0;
            }
        } 
    }

    .footer-menu-s{
        border-top: 1px solid rgba(0, 0, 0, .2);
        padding-top: 20px;
        margin-top: 20px;
        text-align: center;
        font-size: 0.8rem;
        color:#454343;
    }

}