.header{    

    padding:10px 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f8fb;

    .site-header__logo-link {
        max-width: 300px;
        margin: 0 auto;
        .logo{
            max-width: 250px;
        }
    }

    .max-search{
        max-width: 630px;
        width: 100%;

        input:focus{
            box-shadow: none;
            border: 1px solid #ced4da;
        }

        .form-control-filtro{
            font-size: 0.8rem;
            margin: 0;
            padding: 0px 6px 0px 0px;
        }
    }

    .max_filtro_avanzado{
        display: none;
        background-color: #fff;
        position: absolute;
        top: 54px;
        max-width: 630px;
        width: 100%;
        z-index: 999;
        border: 1px solid #ddd;
        padding: 10px 20px;

        .row > div{
            padding: 0px 6px;

            .t_form{
                font-size: .7rem;
                margin-bottom: 0;
            }
        }

        &:before{
            content: "";
            display: inline-block;
            vertical-align: middle;
            left: 22px;
            width: 0;
            height: 0;
            position: absolute;
            top: -10%;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
        }
    }
    
    .max-info-header{
        text-align: right;
        color: #060606;
        background-color: #ffffff;
        padding: 2px 10px;
        border-radius: 5px;

        div{
            margin-bottom: 5px;
        }

        .max-info-phone{
            font-size: 1.2rem;
            font-weight: bold;
            margin: 0;
        }

        .max-info-email{
            font-size: 0.9rem;
            margin: 0;
        }

        .fa{
            font-size: 1rem;
        }
    }

}

.max-men-sup{
    width: 100%;
    background-color: #232f3e;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24), 0 0 4px 0 rgba(0,0,0,0.12);

    .list-category{
        padding: 10px;
        background-color: #FA0;

        .nav-list-category{
            color:#000;
            font-size: 0.9rem;
        }

        ul.nav-category, li ul{
            display: none;
            position: absolute;
            list-style: none;
            margin: 10px -11px;
            padding: 10px 0px;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.24), 0 0 2px 0 rgba(0,0,0,.12);
            background-color: #fff;
            border-radius: 3px;
            max-width: 270px;
            width: 100%;
            border-top-left-radius: 0;
            z-index: 99999;

            &:before{
                content: "";
                display: inline-block;
                vertical-align: middle;
                left: 22px;
                width: 0;
                height: 0;
                position: absolute;
                top: -2%;
                margin-top: -2px;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #fff;
            }

            li{
                padding: 12px 22px;
                font-size: 0.8rem;
                line-height: 0.8rem;
                border-bottom: 0px solid rgb(244, 244, 244);
                cursor: pointer;

                &:hover .fa{
                    color:#fff;
                }

                &:hover{
                    background-color: #0B5A81;
                    color:#fff;
                }

                &:hover a.nav-link-li{
                    color:#fff;
                    font-weight: bold;
                }

                .fa{
                    color:#d9d9d9;
                    float: right;
                    font-size: 1.3rem;
                }
                
                a{
                    color:#555;
                    text-decoration: none;
                    font-weight: 500;
                    margin: 0;
                }

                &:hover ul.nav-submenu{
                    display: block;
                }

                ul.nav-submenu{
                    display: none;
                    top:-10px;
                    right:-95%;
                    border: 0;
                    border-radius: 0;
                    padding-left: 20px;

                    li.nav-header-li{
                        color:#fa0;
                        font-size: 1.1rem;
                        
                    }
                    
                    li a{
                        font-size: 0.8rem;

                        &:hover{
                            color:#fa0;
                            border-bottom: 1px solid #fa0;
                        }
                    }

                    
                }
            }
        }

    }

    .max-menu{
        padding: 10px 20px;
        a.item-link{
            color:#ccc;
            font-size: 0.8rem;
            margin-right: 10px;
            text-decoration: none;

            &:hover{
                border-bottom: 2px solid #fff;
                @include transition();
            }
        }
    }


    .nav-right{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:before{
            position: absolute;
            height: 50%;
            border:1px solid red;
        }

        .max-perfil{
            max-width: 170px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            order:2;

            .max-info-perfil{
    
                a{
                    color:#d9d9d9;
                }
                span{
                    display: block;
                }
                span:last-of-type{
                    color:#fff;
                    font-weight: bold;
                    font-size: 1rem;
                }
            }

        }

        .item-option{
            margin-right: 10px;
            position: relative;

            a{
                text-decoration: none;
            }
        }

        .max-carrito{
            .price-cart{
                padding-right: 10px;
                font-size: 0.9rem;
                background-color: #FA0;
                color: #000;
                padding: 2px 10px;
                position: relative;
                margin-right: -9px;
                border-radius: 2px;
                z-index: 9;

                &:before{
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    right: -4px;
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: 50%;
                    margin-top: -4px;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-left: 5px solid #FA0;
                }
            }
        }



           
        


    }

}

.login_carrito{
   

    .max-login{
        display: block;
        position: relative;
        top:0px;
        left: 0px;
        margin: 20px auto;
    }

}

.max-perfil-menu{
    display: none;
    position: absolute;
    width: 180px;
    max-width: 180px;
    background-color: #fff;
    height: auto;
    box-shadow: 0 0 0 4px #eaeaea;
    z-index: 1041;
    right: 0px;
    top:100%;
    border-radius: 2px;
    margin-top: -1px;
    padding-bottom:0px;

    .nav-menu-perfil{
        padding: 10px 0px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    
        a{
            padding: 8px 20px;
            font-size: 0.9rem;
            color:#333 !important;
            margin-bottom: 0px;

            &:hover{
                background-color: #0B5A81;
                color:#fff !important;
            }
        }
    }

}


.max-login{
    display: none;
    position: absolute;
    width: 320px;
    max-width: 320px;
    background-color: #fff;
    height: auto;
    box-shadow: 0 0 0 4px #eaeaea;
    z-index: 1041;
    left: 5px;
    top:100%;
    border-radius: 2px;
    margin-top: 20px;
    padding-bottom: 20px;

    .closed-login{
        position: absolute;
        right: -11px;
        top: -15px;
        padding: rem(10px) rem(2px);
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0;
        color: #fff;
        border: 0px;
        background-color: red;
        outline: 0;
        cursor: pointer;
    }

    &:before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        right: 0;
        left:0;
        margin-left: auto;
        margin-right: auto;
        width: 0;
        height: 0;
        position: absolute;
        top: -4%;
        margin-top: -2px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #fff;
    }

    .footer-ayuda{
        padding-top: 15px;
        a{
            color:#0B5A81 !important;

            &:last-of-type{
                float:right;
            }
        }
    }

    .login-step-2,
    .login-step-3{
        display: none;
    }




}
#reactivar_cuenta{
    color:#337ab7 !important;
}
.succes-registro{
    padding:5px 0px;
    text-align: center;

    .success-ok{
        font-size: 3rem;
        margin: 0;
        color:#0bbb03;
    }

    .success-error{
        font-size: 3rem;
        margin: 0;
        color:#f20606;
    }

    h6{
        margin: 0;
        padding-bottom: 10px;
        font-size: 1.4rem;
    }
}

.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding: 10px 0px;

    .circle-socials {
        text-align: center;
        border-radius: 50%;
        position: relative;
        display: inline-block;
        line-height: 1em;
        height: 35px;
        width: 35px;
        vertical-align: middle;
        padding: 10px;
        margin-top: 10px;
        margin-right: 10px;

        &.facebook{
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
        }
        &.twitter{
            color: #fff;
            background-color: #5bc0de;
            border-color: #46b8da;
        }
        &.youtube{
            color: #fff;
            background-color: #d9534f;
            border-color: #d43f3a;
        }
    }
}

.info-header-login{
    font-size: 0.75rem;
    text-align: center;
    color:#515151;
}

.info-header-login-re{
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 4px;
}

.info-header-sub{
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
    line-height: 1rem;
}
.info-header-text{
    padding-top: 15px;
    text-align: left;
}






.max-slider-info{

    background: #000 url(https://http2.mlstatic.com/resources/deals/exhibitors_resources/mla-home-desktop-slider-picture-67b33286-55a8-4966-900a-a770c1df1048.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 55vh;
    margin-top: 10px;

    .slide-info{
        padding-top: 40px;
        padding-bottom: 10px;
        text-align: center;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 55vh;

        .max-title{
            font-size: 2.5rem;
            color:#000;
        }

        .max-subtitle{
            font-size: 1.2rem;
        }

        .max-bton-group{
            padding: 20px 0px;

            a{
                padding: 5px 45px;
                margin-left: 30px;
                color:#333;

                &:hover{
                    color:#fff;
                }
            }
        }

        .footer-slide{
            font-size: 0.9rem;
        }
    }
}

.items-info-envio{
    width: 100%;
    /*background:#ebebeb none repeat scroll 0 0;*/  
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0px;

    .container{
        background-color: #fff;
    }

  

    .info-o{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        max-width: 350px;
        flex-direction: row;
        padding: 10px 0px;


        .fa{
            color: hsla(0, 0%, 48%, 0.9);
            font-size: 3rem;
        }

        .info-title{
            padding-top: 10px;
            padding-left: 12px;
            color:#656565;
            font-size: 1rem;
            line-height: 1.1rem;
            font-weight: normal;
            text-align: left;
        }

    }

}