.section-list-product{
    background-color: #f4f8fb;

    .list-product-m{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 20px;
    }

    .product-item{
        width:49%;
        position: relative;
        margin-bottom: 10px;
        box-shadow: 0 0 0 1px #e4e7e8;
        border-radius: 5px;

        .row-product{
            background:#fff;
            overflow: hidden;
            padding: 4px;
            border-radius: 5px;

            .product-img{
                display: block;
                width: 100%;
            }
        }

        a{
            text-decoration: none;
            color:#fff;
        }


        .bton-oferta{
            display: block;
            @include center-block();
            font-size: 0.8rem;
            padding: 4px 50px;
            z-index: 2;
        }

        .decription-product{
            display: block;
            padding:0px 20px;
            color: #333;
            text-align: center;

            .title{
                margin: 0;
                font-size:0.8rem;
                margin-bottom: 10px;
            }

            .description-title{
                padding-top:10px;
                font-size: 1rem;
                margin: 0;
                color:#000;
                font-family: 'GTMedium';
                font-weight: bold;

                .price-oferta{
                    color:#46829E;
                }
            }

        }
   
    }
}