.section-cart{

    .content-cart{
        padding: 10px 0;

        .title-cart-step, .title-car-envia{
            padding: 9px;
            border: 1px solid #ddd;
            font-size: 1rem;
            text-align: center;
            background-color: #ddd;
        }
    } 

    .container{
        padding-left: 6px;
        padding-right: 6px;
    }

    .info-cart{
        width: 100%;
        padding: 15px 6px;

        h4{
            font-size: 1rem;
        }

        p{
            font-size: 0.8rem;
        }
    }

    h6{
        font-size: 0.9rem;
    }

    .nav-tabs{
        display: none;
    }


    .list-item-product{
        padding-top: 10px;
        flex-direction: column;

        .product-name{
            font-size: 0.9rem;
            line-height: 20px;
            background-color: #f4f8fb;
            padding: 5px;
            margin-bottom: 5px;
        }

        .product-cart{

            .product-info{
                width: 100%;
                padding: 0 10px;

                .product-detail .item-detail{
                    margin-bottom:2px;
                }
            }

            .product-image img{
                height: 120px;
            }

        }
    }

    .cart-step-1{
        width: 100%;
        padding-left:0px; 
    }

    .detail-cart-price{
        width:100%;
        margin-left:0px;
        margin-top:0px;
        padding:12px;
    }

    .sig-cart-step{
        width: 100%;
        margin-left:0px;
    }

}


.pay-finsh {
    h3{
    font-size: 1.5rem;
    }
   p {
        font-size: 0.9rem;
    }

    a{
        margin-bottom: 5px;
    }
}