.max-product{
    padding: 20px 0px;
    background: #f4f8fb;

    .title-category-result{
        margin: 15px 0px;

        .tile-c{
            background-color: #FA0;
            padding: 7px;
            border-radius: 5px;
            font-size: 0.9rem;
            color: #fff;
        }
    }

    .list-product{
        widows: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;


        .item-product{
            position: relative;
            width: 24%;
            height: 350px;
            padding: 10px 5px;
            padding-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
            margin-bottom: 30px;
            background-color: #ffffff;
            border-radius: 5px;
            @include transition();

            a:first-of-type{
                padding-top: 20px;
            }

            &:hover{
                box-shadow: 0 0 0 2px #FA0;
            }

            &:hover .overlay-product{
                display: block;
            }

            &:hover .over-product{
                display: block;
            }

            .over-product{
                display: none;
                width: 100%;
                padding: 30px;
                text-align: center;
                @include center-block();
                z-index: 2;
    
                .bton-detalle-product{
                    padding: 4px 2.5rem;
                    font-size: 0.8rem;
                    text-align: center;

                }

                .list-des{
                    text-align: left;
                    color:#fff;
                    font-size: 0.9em;
                }

                .info-product{
                    background-color: rgba(0, 0, 0, 0.4);
                    padding:5px 10px;
                    border-radius: 5px;
                    margin-top: 8px;
                    position: relative;

                    &::before{
                        content: "";
                        @include center-block();
                        top: -4px;
                        width: 0;
                        height: 0;
                        border-width: 0 8px 8px;
                        border-style: solid;
                        border-color: transparent transparent  rgba(0, 0, 0, 0.4);;
                        
                    }
                }

            }


            .list-description-product{
                display: block;
                text-align: center;

                .price{
                    font-size: 1.3rem;
                    padding: 10px 0px;
                    font-family: 'GTMedium';
                    font-weight: bold;
                    margin: 0;
                    color:#46829E;
                }
                .title{
                    font-size: 0.9rem;
                }

                
            }

        }

    }

}