.page{

    .p-breadcrumb{

        padding-bottom: 10px;

        ol{
            padding: 20px 0px;
            list-style: none;

            li{
                float: left;
                color: $colorPrimario;
                font-size: 0.9rem;
                font-weight: 300;
                color: #333;

                &:first-of-type{
                    padding-right: 5px;

                }

                .fa{
                    color:#888;
                }

                a{
                    color:#888;
                    text-decoration: none;

                }
            }
        }
        
    }

    .title-page{
        font-size: 1.5rem;
        color: $colorPrimario;
        line-height: 44px;
        position: relative;
        padding: 0px 0 0px 69px;
        font-weight: 600;
        padding-bottom: 20px;

        &:before{
            content: attr(data-content);
            display: table-cell;
            vertical-align: middle;
            position: absolute;
            top: 0px;
            line-height: 40px;
            background: $colorPrimario;
            width: 44px;
            height: 44px;
            color: #fff;
            text-align: center;
            border-radius: 50%;
            left: 0;
        }
    }

    p{
        font-size: 0.9rem;
        color:#666;
        &.bold{
            color:#333;
            font-weight: 600;
        }
    }

    ul{
        padding: 0;
        margin: 10px 0;
        list-style-type: none;
        counter-reset: myCounter;
        display: inline-block;
        width: 100%;
        padding-left: 20px;

        li{
            margin-bottom: 25px;
            font-size: 0.8rem;
            color:#666;

            &:before{
                counter-increment: myCounter;
                content: counter(myCounter);
                color: white;
                background: #495057;
                display: inline-block;
                text-align: center;
                line-height: 26px;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                float: left;
                font-size: 15px;
                margin-right: 10px;
            }

        }
    }

    .card{
        margin-bottom: 4px;

        .btn{
            white-space:inherit;
            text-align: left;
        }

        .card-header{
            padding: .3rem .2rem !important;
        }
    }
    
    

}