.max-cuenta{
    padding: 25px 0px;

    .list-co{
        display: flex;
        flex-direction: column;
        background-color: #f4f8fb;

        a{
            margin-top: 5px;
        }
    }

    .title-header-cuenta{
        margin: 0;
        padding-bottom: 5px;
    }

    .t-cuenta{
        color:#7d7b7b;
    }

    .c-body{
        padding-top: 5px;
      
        h5{
            text-transform: uppercase;
            padding-bottom: 5px;
            display: inline-block;
            background-color: #efefef;
            padding: 9px;
            border-radius: 4px;
            margin-left: 12px;
            margin-bottom: 30px;
            font-size: 0.9rem;
        }

        #perfil{
            width: 100% !important; 
            
            .btn{
                padding: 0rem .7rem;
            }

            th,td{
                padding: .4rem;
            }
        }
    }

    .hide{
        display: none;
    }

}