.section-product-slider{
    position: relative;
    background-color: #ececec;


    .op-nav{
        @include center-block();
        width: 100%;
        padding: 0px 0px;
        font-size: 2rem;
        z-index: 200;

        div{
            background-color: rgba(253,156,29, .7);
            height: 50px;
            line-height: 50px;
            width: 25px;
            text-align: center;
            box-shadow: 0 1px 3px #888;
            user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            cursor: pointer;
            z-index: 2;
            color:#fff;
        }

        .max-prev-pro{
            float: left;
            border-radius: 0 3px 3px 0;
            clip: rect(-10px,55px,110px,0);
           
        }

        .max-next-pro{
            float: right;
        }
    }
}

.owl-product-movil{

    .owl-item{
        width:100%;
        position: relative;
        padding: 10px 0px;

        .row-product{
            background:#fff;
            overflow: hidden;
            padding: 4px;
            border-radius: 5px;
        }

        a{
            text-decoration: none;
            color:#fff;
        }


        .bton-oferta{
            display: block;
            @include center-block();
            font-size: 0.8rem;
            padding: 4px 50px;
            z-index: 2;
        }

        .decription-product{
            display: block;
            padding:0px 20px;
            color: #333;
            text-align: center;

            .title{
                margin: 0;
                font-size:0.8rem;
                margin-bottom: 10px;
            }

            .description-title{
                padding-top:10px;
                font-size: 1rem;
                margin: 0;
                color:#000;
                font-family: 'GTMedium';
                font-weight: bold;

                .price-oferta{
                    color:#46829E;
                }
            }

        }
   
    }

}