.slide-product{
    background: #ffffff;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;


    .title-section{
        display: flex;
        justify-content: center;
        align-items: center;

        .title-oferta{
            font-size: 1.3rem;
            text-align: center;
            padding: 15px 0;
            color: #333;
            text-transform: capitalize;
        }

        .link-mas{
            padding-left: 10px;
            font-size: 1rem;
        }
    }

    

    .owl-carousel{

        .owl-item{
            width:100%;
            height:320px;
            background:#fff;
            position: relative;

            &:hover .overlay{
                display: block;
            }

            &:hover .bton-oferta{
                display: block;
            }

            a{
                text-decoration: none;
                color:#fff;
            }

            .owl-img{
                widows: 240px;
                height: 240px;
            }
            
           

            .bton-oferta{
                display: none;
                position: absolute;
                @include center-block();
                font-size: 0.8rem;
                padding: 4px 50px;
                z-index: 2;
            }

            .decription-product{
                display: block;
                padding:0px 20px;
                color: #333;
                text-align: center;

                .title{
                    margin: 0;
                    font-size:0.9rem;
                    margin-bottom: 10px;
                }

                .description-title{
                    padding-top:10px;
                    font-size: 0.8rem;
                    margin: 0;
                    color:#000;
                    font-family: 'GTMedium';
                    font-weight: bold;

                    .price-oferta{
                        color:#46829E;
                    }
                }

            }
       
        }
    }


    

    .op-nav{
        @include center-block();
        width: 100%;
        padding: 0px 25px;
        font-size: 3rem;

        div{
            background-color: #fff;
            height: 100px;
            line-height: 100px;
            width: 45px;
            text-align: center;
            box-shadow: 0 1px 3px #888;
            user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            cursor: pointer;
            z-index: 2;
        }

        .max-prev-pro{
            float: left;
            border-radius: 0 3px 3px 0;
            clip: rect(-10px,55px,110px,0);
           
        }

        .max-next-pro{
            float: right;
        }
    }


}