.typeheader-1 {
  font-family: "Poppins", sans-serif;

  .container-megamenu.vertical {
        position: relative;

        #menuHeading {
            margin: 0;

            .megamenuToogle-wrapper {
                background-color: transparent;
            }

            .megamenuToogle-pattern {
                position: relative;
                
                
        }

    }   

}

  .header-top {
    clear: both;
    padding: 30px 0 20px 0;

    #sosearchpro.so-search {
      width: 100%;
      padding: 0;

      .select_category {
        position: relative;
        display: table-cell;
        vertical-align: top;
        border: 1px solid #e5e5e5;
        background: white;

        select {
          height: 40px;
          width: 100%;
          line-height: 100%;
          padding: 0 5px;
          border: none;
          float: left;
          background-color: transparent;
          background-image: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          outline: 0;
        }
      }

      .autosearch-input {
        height: 42px;
        line-height: 20px;
        padding: 0 10px;
        border: 1px solid #e5e5e5;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

      .button-search {
        height: 42px;
      }

      .icon-select::after {
        content: "\f107";
        color: black;
        font-family: "FontAwesome";
        right: 0px;
        top: 0px;
        position: absolute;
        pointer-events: none;
        background: white;
        line-height: 36px;
        width: 30px;
        height: 100%;
        text-align: center;
      }

      .search {
        position: relative;
        margin: 0;
        width: 100%;
        border: 1px solid #cdcdcd;
        border-radius: 22px;
        height: 40px;

        .select_category {
          border: none;
          background-color: #fff;
          border-bottom-left-radius: 22px;
          border-top-left-radius: 22px;
          width: 40%;
          float: left;

          select {
            height: 38px;
            line-height: 38px;
            color: #666;
            padding: 0 13px;
            font-size: 0.8rem;
          }
        }

        input {
          border: none;
          border-radius: 0px;
          border-bottom-left-radius: 25px;
          border-top-left-radius: 25px;
          background-color: #fff;
          z-index: 0;
          height: 38px;
          padding-left: 20px;
          width: 55%;
          background-color: #fff;
          color: #666;
          float: left;
          font-size: 0.8rem;
        }

        button {
          position: absolute;
          top: 0px;
          right: 0px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          padding: 0 30px;
          font-size: 14px;
          font-weight: 500;
          color: #fff;
          border-radius: 0;
          text-transform: uppercase;
          border-bottom-right-radius: 22px;
          border-top-right-radius: 22px;
          background-color: $colorPrimario;
          top: -1px;
          right: -1px;
          outline: 0;
        }

        .select_category.icon-select:before {
          position: absolute;
          content: "";
          top: 0px;
          right: 0;
          width: 1px;
          height: 39px;
          background-color: #cdcdcd;
        }
        .select_category.icon-select:after {
          color: #999;
          background-color: #fff;
          font-size: 16px;
          width: 17px;
          height: 17px;
          line-height: 16px;
          right: 15px;
          top: 12px;
          left: auto;
        }
      }
    }

    .shopping_cart {
      float: right;
      position: relative;
      top: -3px;

      .top_cart {
        position: relative;

        .shopcart-inner {
          float: left;
          color: #fff;
          padding-left: 47px;
          padding-top: 8px;
          padding-bottom: 10px;
          position: relative;

          .text-shopping-cart {
            font-size: 0.8rem;
            margin-top: 0px;
            margin-bottom: 7px;
            line-height: 100%;
            color: #333;
          }

          .total-shopping-cart {
            font-size: 0.9rem;
            float: left;
            line-height: 100%;
            font-weight: 700;

            .items_cart {
              width: 30px;
              height: 30px;
              border-radius: 100%;
              -moz-border-radius: 100%;
              -webkit-border-radius: 100%;
              position: absolute;
              bottom: 4px;
              left: -5px;
              font-size: 0.8rem;
              color: #fff;
              border: 2px solid #fff;
              background-color: $colorPrimario;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .items_cart2 {
              display: none;
            }

            .items_carts {
              padding-top: 4px;
              color: $colorPrimario;
              font-weight: 700;
            }
          }
        }

        .shopcart-inner:before {
          background-image: url(../img/icon-header.png);
          background-repeat: no-repeat;
          background-position: -78px -64px;
          width: 45px;
          height: 45px;
          position: absolute;
          content: "";
          display: block;
          top: 0;
          left: 0;
        }
      }
    }

    .login-w {
      margin: 0;
      padding: 0;
      padding-left: 48px;
      margin-right: 50px;
      float: right;
      position: relative;
      list-style: none;
      font-size: 0.8rem;

      &:before {
        background-image: url(../img/icon-header.png);
        background-repeat: no-repeat;
        background-position: -158px 0;
        width: 40px;
        height: 40px;
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: 0;
      }

      .login-w li {
        line-height: 0.8rem;
        color: #333;
        font-weight: 300;

        .ite-link {
          color: #000;
          font-weight: 600;
          font-size: 14px;
          text-decoration: none;
        }
      }
    }
  }
}


.header-bottom{
    clear: both;
    background-color: $colorSegundario;

    .megamenu-style-dev {
        position: relative;

        .navbar-default {
            background: transparent;
        }

        .vertical ul.megamenu {
            margin: 0px;
            padding: 0px;
            list-style: none;
            position: absolute;
            width: 100%;
            background: #222;
            

            li{
                display: block;
                float: none !important;
                width: auto;
                background: none;

                a{
                    text-shadow: none;
                    background: none !important;
                    height: auto !important;
                    margin: 0px 1px;
                    text-decoration: none;

                    strong{
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .no-gutter {
        padding: 0px;
    }

    .bar_menu {
        color: #fff;
        height: 58px;
        line-height: 58px;
        text-shadow: none;
        border-radius: 0;
        background-color: $colorPrimario;
        font-weight: 700;
        font-size: 0.9rem;
        padding: 0px 5px 0px 20px !important;
        margin: 0;
        position: relative;
        text-transform: uppercase;
        display: block;
        cursor: pointer;

        .fa:last-of-type{
            padding-top: 20px;
            float: right;
            font-weight: 700;
        }

        .fa{
            padding-right: 10px;
        }
        
    }


    .vertical-wrapper{
        display: none;
        opacity: 1;
        transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        -webkit-transition: all 0.2s ease-in-out 0s;
        position: absolute;
        width: 100%;
        top: 53px;
        padding-top: 5px;
        


    
        .megamenu-pattern {
            position: relative;
            z-index: 1;

            .container {
                padding-left: 0px !important;
                padding-right: 0px !important;

                ul.megamenu {
                    padding-top: 5px;
                    background-color: #f5f5f5;
                    border-bottom-right-radius: 3px;
                    border-bottom-left-radius: 3px;
                    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.13);
                    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.13);
                    box-shadow: 0 2px 4px 0 rgba(0,0,0,.13);
                    -ms-user-select: none;
        
                    li{
                        cursor: pointer;
                        padding: 0 12px 0 12px;
                        border: none;
                        margin: 0;
                        position: relative;
                        
                        a{
                            color: #666;
                            display: block;
                            font-size: 12px;
                            font-weight: 400;
                            padding: 2px 0;
                            line-height: 22px;
                            position: relative;
                            text-transform: capitalize;
                        }

                        &:hover strong {
                            color:$colorPrimario;
                            font-weight: 600;
                        }
                        &:hover .fa{
                          color:$colorPrimario;
                          font-weight: 600;
                        }

                        &:hover .megamenu-ul{
                          display: block;
                        }

                        .fa{
                          float: right;
                          margin-top: 2px;
                          font-size: 1rem;
                        }

                        .megamenu-ul{
                          display: none;
                          width: 600px;
                          position: absolute;
                          left: 100%;
                          padding-top: 0;
                          z-index: 999;
                          right: 0;
                          background-color: #fff;
                          top: -5px;
                          height: auto;
                          border-left: 1px solid rgb(219, 218, 218);
                          -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.13);
                          -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.13);
                          box-shadow: 0 2px 4px 0 rgba(0,0,0,.13);
                          -ms-user-select: none;

                          .submenu{
                            padding: 10px 15px;

                            .subCategory{

                              margin-bottom: 10px;
                              
                              .title{
                                font-size: 0.8rem;
                                color:#333;
                                font-weight: 600;
                                text-decoration: underline;
                                padding-bottom: 2px;

                                &:hover{
                                  color:$colorPrimario;
                                }
                              }

                              .item-c{
                                font-size: 0.7rem;
                                margin: 0;

                                &:hover{
                                  color:$colorPrimario;
                                }
                              }

                            }
                          }

                        }



                    }
                }
        
            }
        }
    }


    .main-menu-w{

        .megamenu-right{
            list-style: none;
            padding: 0;
            margin: 0;
            padding: 20px 0px;

            li{
                float: left;
                margin-right: 30px;
                
                &:hover > a{
                    color:$colorPrimario;
                }
            
                a{
                    color:#fff;
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-shadow: unset;
                    text-decoration: none;
                    @include transition();
                    
                }
            }

        }
    }


}


.slider-inner-1{
  position: relative;
  margin-top: 10px;

  .owl-nav{
    display: none;
  }
  
  .owl2-dots{
    position: absolute !important;
    left: auto;
    right: auto;
    width: 100%;
    display: inline-block;
    text-align: center;
    z-index: 10;
    bottom: 20px;
    height: 20px;

    .owl2-dot{
      background: #fff;
      margin: 0 5px;
      width: 30px;
      height: 6px;
      padding: 0;
      transition: all 0.3s ease 0s;
      border-radius: 3px;
      float: none;
      display: inline-block;

      span{
        background: #fff;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        margin: 0;
      }

      &.active{
        span{
          background: $colorPrimario;
        }
      }

      
    }

  }

}


.home-block-policy{
  
  
  .item-1:before{
    background: url(../img/promotion.png) no-repeat;
    background-position: 0px 0px;
    width: 52px;
    height: 52px;
    top: 16px;
    left: 16px;
    position: absolute;
    content: "";
  }

  .item-2:before{
    background: url(../img/promotion.png) no-repeat;
    background-position: -120px 0px;
    width: 52px;
    height: 52px;
    top: 16px;
    left: 16px;
    position: absolute;
    content: "";
  }

  .item-3:before{
    background: url(../img/promotion.png) no-repeat;
    background-position: -242px 0px;
    width: 52px;
    height: 52px;
    top: 16px;
    left: 16px;
    position: absolute;
    content: "";
  }

  .item-4:before{
    background: url(../img/promotion.png) no-repeat;
    background-position: -380px 0px;
    width: 52px;
    height: 52px;
    top: 16px;
    left: 16px;
    position: absolute;
    content: "";
  }

  .item-inner{
    display: inline-block;
    background-color: #f5f5f5;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 4px;
    @include transition();
    

    &:hover{
      background-color: #fff;
      border-color: $colorPrimario;
    }

    .content{
      margin: 0 auto;
      width: 85%;
      text-align: left;
      margin-top: 3px;
      position: relative;
      padding: 20px 0px 20px 25px;
      font-size: 12px;
      float: right;
      
      b{
        color: #222;
        font-weight: 500;
        text-transform: capitalize;
      }

      span{
        line-height: 100%;
        margin: 0;
        text-transform: capitalize;
        font-weight: 300;
        display: inline-block;
        width: 100%;
      }
    }

  }
}



/// seccion slider categoria
.owl-carousel-category{

  .item{
    position: relative;

    .bg-over{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: rgba(0,0,0,.3);
      z-index: 100;
      width: 100%;
      height: 100%;
      top: 0;
      cursor: pointer;
      border-radius: 5px;
      opacity: 0;
      -webkit-transition: opacity 0.2s ease-in;
      -moz-transition: opacity 0.2s ease-in;
      -o-transition: opacity 0.2s ease-in;
      -ms-transition: opacity 0.2s ease-in;
      transition: opacity 0.2s ease-in;

      a{
        cursor: pointer;
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        text-transform: capitalize;
        background-color: $colorPrimario;
        border-radius: 18px;
        padding: 0 20px;
        height: 25px;
        line-height: 25px;
        border: none;
        text-decoration: none;
      }
  
    }

    &:hover .bg-over{
      height: 100%;
      opacity: 1;
      
    }
  }

  .owl-nav
  {
    div{
      background-color: #fff;
      border: none;
      border-radius: 50%;
      width: 44px;
      height: 44px;
      line-height: 42px;
      text-align: center;
      float: left;
      text-indent: -9999px;
      overflow: hidden;
      cursor: pointer;
      opacity: 1;
      z-index: 99;
      font-size: 24px;
      position: absolute;
      top: 50%;
      margin-top: -22px;
      font-weight: 400;
      transform: scale(0);
      transition: all 0.2s ease-in-out 0s;

    }

    .owl-prev:before, .owl-next:before{
      color: #aaa;
      content: "\f104";
      font-family: 'FontAwesome';
      display: block;
      text-indent: 0 !important;
      width: 100%;
      height: 100%;
      font-size: 24px;
    }

    .owl-prev{
      left: -22px;
      right: auto;
      box-shadow: 2px 0px 3px 0px rgba(155, 155, 155, 0.75);

      &:hover{
        background-color: $colorPrimario;
        box-shadow: none;
        color:#fff;

        &::before{
          color:#fff;
        }
      }
  
      &:before{
        content: "\f104";
      }

    }

    .owl-next{
      right: -22px;
      left: auto;
      box-shadow: -2px 0px 3px 0px rgba(155, 155, 155, 0.75);

      &:hover{
        background-color: $colorPrimario;
        box-shadow: none;
        color:#fff;

        &::before{
          color:#fff;
        }
      }

      &:before{
        content: "\f105";
      }
    }

  }

  &:hover .owl-nav div{
    transform: scale(1);
  }

}



// section pacotillas grandes


.border-pacotilla{
  border: 1px solid $colorPrimario;
  margin-top: 20px;
  position: relative;

  .modtitle{
    width: 100%;
    margin-top: 0;
    font-size: 18px;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-bottom: 0;
    position: absolute;
    top: -6px;
    left: 7px;
    z-index: 2;

    span{
      background: $colorPrimario;
      color: #fff;
      display: inline-block;
      vertical-align: top;
      border-radius: 0 0 5px 5px;
      padding: 8px 15px;
      margin-top: 0;
      position: relative;
      font-size: 18px;
      margin-bottom: 0;

      &:before{
        content: "";
        position: absolute;
        left: -10px;
        top: 0px;
        width: 0px;
        height: 0px;
        border-left: 5px solid transparent;
        border-top: 5px solid transparent;
        border-right: 5px solid $colorPrimario;
      }

      &:after{
        content: "";
        position: absolute;
        right: -10px;
        left: auto;
        top: 0px;
        bottom: auto;
        width: 0px;
        height: 0px;
        border-right: 5px solid transparent;
        border-top: 5px solid transparent;
        border-left: 5px solid $colorPrimario;
        background-color: transparent;
      }
    }
  }
 

  &:hover .owl-nav div{
    transform: scale(1) !important;
  }

}

.home-slider-pacotillas{

  .slider-inner-pacotillas{

    .owl-nav{
      display: none;
    }

    .image{
      padding-left: 5px;
      height: 400px;
      overflow: hidden;
      text-align: center;

      img{
        height: 400px;
      }
    }

    .caption{
      padding: 40px 40px 20px 0px;
      display: flex;
      flex-direction: column;

      h4{
        color: #333;
        font-size: 20px;
        font-weight: 600;
      }
      
      .price{
        line-height: 24px;
        color: $colorPrimario;
        font-size: 16px;
        font-weight: 600;
      }

      .desc{
        font-size: 13px;
        padding-top: 10px;
        line-height: 23px;
        color: #666;
      }

      .item-avaliable{
        display: inline-block;
        width: 100%;
        margin-top: 10px;

        .avaliable{
          background-color: #eee;
          height: 13px;
          width: 100%;
          display: inline-block;
          border-radius: 7px;
          position: relative;
          z-index: 2;
          overflow: hidden;
          
          span{
            background: $colorPrimario;
            position: absolute;
            height: 100%;
            left: 0;
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
          }
        }
      }

      .link-detalle{
        color:#fff;
        padding: 10px;
        margin-top: 10px;
      }


    }

  }

  .slider-inner-pacotillas-thumbnail{
    border-top: 1px solid #dddd;

    padding: 0px;

    .item-thumbnail{
      width: 99px;
      cursor: pointer;

      .ds-image-thumb{
        padding: 0;
        border-radius: 0;
        margin: 0px 6px -1px;
        height: 95px;
        border: none;
        border-right: 1px solid #ddd;
        position: relative;

        &.active{
          border-top: 2px solid $colorPrimario;

          &:before{
            content: "";
            position: absolute;
            left: 50%;
            margin-left: -5px;
            top: -5px;
            width: 0px;
            height: 0px;
            border-left: 5px solid transparent;
            border-bottom: 5px solid $colorPrimario;
            border-right: 5px solid transparent;
          }
        }

        


        img{
          max-height: 95px;
          width: 90%;
          border-radius: 0;
          display: block;
          padding: 0;
          border: 1px solid transparent;
        }

      }

    }


    .owl-nav{

      div{
        background-color: $colorPrimario;
        border: none;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        line-height: 42px;
        text-align: center;
        float: left;
        text-indent: -9999px;
        overflow: hidden;
        cursor: pointer;
        opacity: 1;
        z-index: 6;
        font-size: 24px;
        position: absolute;
        top: 50%;
        margin-top: -22px;
        font-weight: 400;
        transform: scale(0);
        -webkit-transition: all .2s ease-in-out 0s;
        -o-transition: all .2s ease-in-out 0s;
        transition: all .2s ease-in-out 0s;
      }

      .owl-prev:before, .owl-next:before{
        color: #fff;
        font-family: 'FontAwesome';
        display: block;
        text-indent: 0 !important;
        width: 100%;
        height: 100%;
        font-size: 24px;
      }

      .owl-prev{
        left: -22px;
        right: auto;

        &:before{
          content: "\f104";
        }
      }

      .owl-next{
        right: -22px;
        left: auto;

        &:before{
          content: "\f105";
        }
      }

    }




  }

  .publicidad{
    width: 100%;
    height: 500px;
    background-color: #ddd;
    margin-top: 20px;
  }
}



.product_lista{

  .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    
    
  
    .product-option{
      text-align: center;
      position: absolute;
      top: 80%;
      visibility:hidden;
      opacity: 0;
      transition: all 0.5s ease-in-out 0s;
      left: 0;
      display: inline-block;
      width: 100%;
      background: #fff;

      .btn-button{
        border: 1px solid $colorPrimario;
        display: inline-block;
        padding: 0;
        background-color: transparent;
        border-radius: 50%;
        color: $colorPrimario;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        margin: 0 1px;
        font-size: 12px;
        transform: translateY(-45px);
        cursor: pointer;

        &:hover{
          background-color: $colorPrimario;
          color:#fff;
        }
      }

      .addToCart{
        transition: all 0.3s ease-in-out 0s;
        transform: translateY(-45px);
        cursor: pointer;
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        text-transform: capitalize;
        background-color: $colorPrimario;
        border-radius: 18px;
        border: none;
        padding: 0 10px;
        height: 25px;
        line-height: 25px;
        line-height: 100%;
        border: none;

        &:hover{
          background-color: #d8960b;
        }
      }

      .addFavorite{
        transition: all 0.4s ease-in-out 0s;
      }

      .viewProduct{
        transition: all 0.5s ease-in-out 0s;
      }
    }

    &:hover .product-option{
      visibility: visible;
      opacity: 1;
      transition: all 0.2s ease-in-out 0s;
      top:80%;
    }

    &:hover .block-a img{
      transition: all 0.2s ease-in-out 0s;
      opacity: 0.7;
    }

    &:hover .button-group .btn-button, &:hover .button-group .addToCart{
      transform: translateY(0px);
    }

    .product-caption{
      text-align: center;

      h4{
        margin: 0;
        a{
          font-size: 13px;
          color: #333;
          font-weight: 400;
        }
      }

      .price{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0;

          .price_new{
            color: $colorPrimario;
            font-size: 1rem;
            font-weight: 600;
          }

          .price_old{
            line-height: 20px;
            padding: 0 5px;
            display: inline-block;
            text-decoration: line-through;
            color: #aaa;
            font-size: 0.8rem;
            font-weight: normal;
          }
      }
    }

  }

}



// slider footer lista


.slider-extra{


  .modtitle{
    border-bottom: 2px solid #ebebeb;
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;

    span{
      font-size: 18px;
      color: #333;
      font-weight: 600;
      float: left;
      text-transform: uppercase;
      padding-bottom: 8px;
      bottom: 0;
      position: relative;

      &:after{
        position: absolute;
        content: "";
        width: 100px;
        height: 2px;
        background-color: $colorPrimario;
        bottom: -2px;
        left: 0;
      }
    }
  }

.slider-lista-1{

  .item-lista{
    .product-item{
      display: inline-block;
      padding-bottom: 12px;
      margin-bottom: 12px;
      width: 100%;
      transition: all 0.5s ease 0s;

      .item-imagen{
        width: 80px;
        float: left;
        position: relative;
      }

      .item-info{
        margin-top: 0px;
        padding-left: 100px;

        a{
          font-size: 14px;
          color: #333;
          font-weight: 500;
          text-transform: capitalize;
          line-height: 18px;

          &:hover{
            text-decoration: none;
            color:$colorPrimario;
          }
        }

        .price{

            .price_new{
              margin-right: 5px;
              color:$colorPrimario;
              font-size: 15px;
              font-weight: 600;
            }
            .price_old{
              line-height: 20px;
              padding: 0 5px;
              display: inline-block;
              text-decoration: line-through;
              color: #aaa;
              font-size: 14px;
              font-weight: normal;
            }
        }
      }

    }

  }


  .owl-nav{
      position: absolute;
      top: -65px;
      width: 70px;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .owl2-prev:before, .owl2-next:before{
        color: rgb(196, 196, 196);
        font-family: FontAwesome;
        display: block;
        width: 100%;
        height: 100%;
        font-size: 30px;
      }

      .owl2-prev, .owl2-next{
        border-radius: 50%;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
      }

      .owl2-prev{

        &:before{
          content: "\f104";
        }

        &:hover{

          &:before{
            color:$colorPrimario;
          }
        }

      }
      .owl2-next{

        &::before{
          content: "\f105";
        }

        &:hover{
          &:before{
            color:$colorPrimario;
          }
        }

      }


  }


}


}

// tienda asociado
.home-tienda-asociada{
  background-color: #f9f9f9;
  margin-top: 30px;

  .modtitle{
    width:100%;
    padding-top: 30px;
    text-align: center;

    h3{
      span{
        display: block;
        font-size: 1.4rem;
        color: #333;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    .btn{
      font-size: 0.8rem;
    }

  }

  .slider-tienda-asociada{
    margin-top:30px;
    margin-bottom: 50px;

    .item{
      
      &:hover img{
        border:1px solid $colorPrimario;
        cursor: pointer;
        @include transition();
      }

      img{
        border-radius: 10px;
        border:1px solid transparent;
      }
    }

    .owl-nav
    {
      div{
        background-color: #fff;
        border: none;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        line-height: 42px;
        text-align: center;
        float: left;
        text-indent: -9999px;
        overflow: hidden;
        cursor: pointer;
        opacity: 1;
        z-index: 99;
        font-size: 24px;
        position: absolute;
        top: 50%;
        margin-top: -22px;
        font-weight: 400;
        transform: scale(0);
        transition: all 0.2s ease-in-out 0s;

      }

      .owl2-prev:before, .owl2-next:before{
        color: #aaa;
        content: "\f104";
        font-family: 'FontAwesome';
        display: block;
        text-indent: 0 !important;
        width: 100%;
        height: 100%;
        font-size: 24px;
      }

      .owl2-prev{
        left: -55px;
        right: auto;
        box-shadow: 2px 0px 3px 0px rgba(155, 155, 155, 0.75);

        &:hover{
          background-color: $colorPrimario;
          box-shadow: none;
          color:#fff;

          &::before{
            color:#fff;
          }
        }
    
        &:before{
          content: "\f104";
        }

      }

      .owl2-next{
        right: -55px;
        left: auto;
        box-shadow: -2px 0px 3px 0px rgba(155, 155, 155, 0.75);

        &:hover{
          background-color: $colorPrimario;
          box-shadow: none;
          color:#fff;

          &::before{
            color:#fff;
          }
        }

        &:before{
          content: "\f105";
        }
      }

    }

  }

  &:hover .owl-nav div{
    transform: scale(1);
  }

}


.home-tutorial{
  padding-bottom: 30px;
  margin-top:20px;


  .modtitle{
    width:100%;
    text-align: center;

    h3{
      span{
        display: block;
        font-size: 1.4rem;
        color: #333;
        font-weight: 600;
        text-transform:capitalize;
      }
    }

  }

  .content_video{

    margin-top:40px;

    p{
      font-size: .9rem;
      line-height: 1.2rem;
      font-weight: 300;
      background-color: #fff;
      padding: 5px;
      color: #333;
      text-align: center;

      &:before{
        position: absolute;
        top: 30px;
        left: 0px;
        padding: 5px;
        color: #5a5555;
        font-size: 1.3rem;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        font-weight: 500;
      }
      
    }

    .item-1:before{
      content: 'PASO #1';
    }
    .item-2:before{
      content: 'PASO #2';
    }
    .item-3:before{
      content: 'PASO #3';
    }



    iframe{
      width: 100%;
    }
  }


}


// tienda asociado
.home-testimonio{
 
  margin-top: 30px;

  .modtitle{
    width:100%;
    padding-top: 30px;
    text-align: center;

    h3{
      span{
        display: block;
        font-size: 1.4rem;
        color: #333;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }

  .message{
    width: 90%;
    margin: auto;
  }


  .slider-testimonio{

    margin-bottom: 100px;

    .item{
      width: 380px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;

      .img{

        img{
          width: 75px;
          height: 75px;
          border-radius: 50%;
          border: 4px solid #ddd;
        }
      }

      .desc{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-left: 0px;

        .name{
          font-size: 14px;
          color: #333;
          font-weight: 500;
          margin: 10px 0 5px 0;
          padding-left: 30px;
        }

        .califi{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 30px;

          .fa{
            font-size: 1rem;
            color: #fdc723;
            margin-right: 5px;
          }
        }
  
        p{
          color: #777;
          position: relative;
          overflow: hidden;
          padding: 0 30px;
          line-height: 1.2rem;
          margin: 0;
          font-size: 0.8rem;
  
          &:before{
            position: absolute;
            top: 0;
            left: 0px;
            content: "\f10d";
            font-family: FontAwesome;
            font-size: 18px;
            color: #eee;
          }
  
          &:after{
            position: absolute;
            bottom: 0;
            right: 10px;
            content: "\f10e";
            font-family: FontAwesome;
            font-size: 18px;
            color: #eee;
          }
  
        }

      }

      

    }

    .owl-nav{
      display: none;
    }

    .owl-dots{
      position: absolute;
      bottom: -50%;
      z-index: 99;
      left: 0;
      right: 0;
      width: 100%;
      text-align: center;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      .owl-dot{
        height: 12px;
        width: 12px;
        border:1px solid #d6d5d5;
        border-radius: 50%;
        margin-right: 5px;

        &.active{
          background-color:$colorPrimario;
        }
      }

    }

  }

}


.home-footer-info-1{
  padding-top: 50px;
  background-color: $colorSegundario;
  padding-bottom: 30px;

  .modtitle{
    border-bottom: 2px solid transparent;
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 8px;
    color: #333;
    font-weight: 600;
   
    position: relative;
    
    span{
      font-size: 1.2rem;
      color: #fff;
      font-weight: 600;
      text-transform: capitalize;

      &:after{
        position: absolute;
        content: "";
        width: 150px;
        height: 2px;
        background-color: $colorPrimario;
        bottom: -2px;
        left: 0;
      }
    }
  }

  p{
    color:#f5f5f5;
    font-size: 0.9rem;
  }

  .form-control{
    padding: 1rem .75rem;
    outline: 0;
  }

  .cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0px;
    
    span{
      font-size: 2.5rem;
      color:#fff;
      margin-right: 12px;
    }
  }

  .copy{
    font-size: 0.8rem;
    color:#f5f5f5;
  }


}

.home-footer-info-2{
  background-color: $colorTerciario;
  padding: 1rem 0.80rem;


    .one{
      font-size: 0.85rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      a{
        margin: 0;
        margin-right: 15px;
        color:#fff;
        text-decoration: underline;
      }
    }

    .two{
      display: flex;
      justify-content: flex-end;
      align-items: center;

      p{
        color:#f5f5f5;
        margin: 0;
        font-size: 0.85rem;
        margin-right: 10px;
      }

      a{
        text-decoration: none;
      }

      span{
        font-size: 1.5rem;
        margin: 0;
        margin-right: 10px;
        width:40px;
        height:40px;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: 0px solid #fff;
        @include transition();

        &.fa-facebook{
          color:#fff;
          background-color:$colorSegundario;
          &:hover{
            background-color: #fff;
            color:$colorSegundario;
          }
        }

        &.fa-youtube{
          color:#fff;
          background-color:$colorSegundario;
          &:hover{
            background-color: #fff;
            color:$colorSegundario;
          }
        }
        &.fa-twitter{
          color:#fff;
          background-color:$colorSegundario;
          &:hover{
            background-color: #fff;
            color:$colorSegundario;
          }
        }

        &.fa-instagram{
          color:#fff;
          background:$colorSegundario;
          &:hover{
            background-color: #fff;
            color:$colorSegundario;
          }
        }
      }

    }



}